<ul>
    <!-- <li><a href="/pages/report/editor">Editor</a></li> -->
    <li><a href="/pages/report/map">Map</a></li>
    <li><a href="/pages/report/updown">Upload/Download</a></li>
    <li><a href="/pages/report/chart">Chart - D3</a></li>
    <li><a href="/pages/user/profile">User - profile</a></li>
    <li><a href="/pages/payment">Payment</a></li>
    <li><a href="/">Home</a></li>
</ul>
<div class="responsive-menu">
    <span><i class="fas fa-ellipsis-h"></i></span>
    <a href="/">Home</a>
</div>